.card{
    position: relative;
    .new-tag{
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: #dbfac8;
        color: #9dc982;
        padding: 10px;
        border-radius: 13px;
       
    }

    .add-to-cart-button{
        position: absolute;
        bottom: 50px;
        right: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px 0px #000000;    
        cursor: pointer;
        border: none;
        padding: 5px 10px;
    }
    img{
        width: 100%;
    }
}