.card{
    position: relative;
    .new-tag{
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: #dbfac8;
        color: #9dc982;
        padding: 10px;
        border-radius: 13px;
       
    }

    .add-to-cart-button{
      
        background-color: #dbfac8;
       
        cursor: pointer;
        border: none;
        padding: 8px ;
        border-radius: 8px;
    }
    img{
        width: 100%;
    }

    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}