.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Adjusts the columns to be 300px each */
    gap: 20px; /* Adds some space between the cards */
    background-color: blue;
    padding: 20px;
    place-content: center;
}
