/* You can add global styles to this file, and also import other style files */
*{
    padding-inline: 0;
    margin-inline: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding-inline: 20px;
}