.shopping-card-list-item-wrapper {
  display: flex;
  align-items: flex-start;
  height: 124px;

 

  .shopping-card-list-item-content-wrapper {
    margin-left: 8px;
  }

  .shopping-card-list-item-actions-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;

    .delete-button{
      padding:8px;
      border-radius: 8px;
      background-color: rgb(249, 181, 181);
      border: none;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .quantity-action-buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgb(237, 230, 230);
      align-items: center;

      .quantity-button{
        border: none;
        padding: 5px 8px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
