<div class="shopping-card-list-item-wrapper">
    <img [src]="getImagePath(productInCart.image)" alt="{{productInCart.name}}" height="124px" width="auto">

    <div class="shopping-card-list-item-content-wrapper">
        <h4>{{productInCart.name}}</h4>
        <h3>{{productInCart.price}}</h3>
    </div>

    <div class="shopping-card-list-item-actions-wrapper">
        <button class="delete-button"><img src="assets/icons/delete.svg" alt="" width="16px" height="16px"></button>

        <div class="quantity-action-buttons-wrapper">
            <button class="quantity-button">-</button>
            <span>{{productInCart.quantity}}</span>
            <button class="quantity-button">+</button>
        </div>
    </div>
</div>